---
title: Herisson Protocol 
permalink: /
---

<div class="home" id="home">

    <section class="presentation" id="presentation">
        <div class="container">
            <h2>Reclaim your bookmarks</h2>
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="fa fa-heart">Uncentralized</h3>
                    <p>Your bookmarks yours, and can stay yours. Share them only if you want.</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="fa fa-lightbulb-o">Free by design</h3>
                    <p>Designed as an open protocol, you can you whatever implemtentation that suits you the most.</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="fa fa-file">Open formats</h3>
                    <p>Import and export your bookmarks in open formats.</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="fa fa-key">Private & secured</h3>
                    <p>Privacy and security are the main goals here. Encryption everywhere.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="how" id="how">
        <div class="container">
        <h2>How it works</h2>
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="fa fa-heart">Over HTTP</h3>
                    <p>Herisson nodes exchange over HTTP a solid </p>
                </div>
                <div class="col-sm-3">
                    <h3 class="fa fa-lightbulb-o">Based on JSON</h3>
                    <p>All the protocol is based on the well known JSON format, which implementation is widely spread.</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="fa fa-file">Ciphered</h3>
                    <p>You don't need an extra HTTPS security layer. Everything is already ciphered.</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="fa fa-key">Private & secured</h3>
                    <p>Privacy and security are the main goals here. Encryption everywhere.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="gettingstarted" id="gettingstarted">
        <div class="container">
        <h2>Getting started</h2> 
        </div>
    </section>

    <section class="implementations" id="implementations">
        <div class="container">
            <h2>Implementations</h2> 
            <div class="implementation">
                <h3>Wordpress plugin</h3>
                <p> 
                    A wordpress plugin implementing the Herisson protocol among other features: tagged bookmarks, saving HTML content, screenshots etc
                </p>
            </div>


            <div class="implementation">
                <h3>Contribute!</h3>
                <p>
                You have a need or an idea to implement this protocol anywhere else. Go ahead, feel free!
                </p>
            </div>
        </div>

    </section>

    <section class="about" id="about">
        <div class="container">
            <h2>About</h2>

            <h3>Author</h3>
            <p>
            Created by {% include icon-github.html username="Wilkins" %}.
            <p>

            <h3>More info & contributing</h3>
            <p>
            You can get more informations about the project on the Github organization {% include icon-github.html username="herisson-protocol" %}
            </p>

            <h3>This website</h3>
            <p>
            You can find the source code for this website at
            {% include icon-github.html username="herrison-protocol/herisson-protocol.github.io" %}
            </p>

        </div>
    </section>


</div>
